body {
  background-color: #e0f0ff;
  /* background-color: #cfe6ff; */
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.header > img {
  height: 50px;
}

.selectors {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  font-size: 30px;
}

.selectors > div > select {
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  margin: 0 50px;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: large;
}

.result {
  width: 50%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  font-size: large;
}

button {
  margin-top: 30px;
  padding: 10px 90px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: large;
}

button:hover {
  background-color: #0056b3;
}